header{
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #010221;
}

#titulo_da_pagina{
    color: #C43302;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 900;
}

.menu__header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#EDAA25;
}

.menu__header li{
    padding-left: 10px;
    list-style: none;
    align-items: center;
}

.menu__header #cart{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.menu__header #heart{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.menu__header #person{
    height: 25px;
    width: 25px;
}

#menu_person {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#menu_person p{
    border-radius: 5px;
    border-color: #EDAA25;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    border-width: 3px;
    padding: 5px 3px;
    margin-left: 2px;
}