.guitar__section{
    background-color: rgb(219, 218, 218);
}

.guitars__title{
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    margin-top: 0;
}

.guitars-zone{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px ;
}


.guitar{
    border-radius: 10px;
    background-color: white;
}

.guitar:hover{
cursor: pointer;
border-width: .5px;
    border-style: solid;
    border-color: orange;
}

.guitar__img{
height: 50vh;
border-radius: 5px;
    cursor: pointer;
}

.price_zone{
    text-align: center;
}

.price__guitar{
    color: rgb(44, 39, 32);
}